body {
    margin: 0%;
    font-size: small;
    overflow-x: hidden;
}

header {
    background-color: black;
    height: 96.98px;   
}
nav {
    color: white;
    margin-top: 28px;
    margin-left: 25%;
    vertical-align: text-top;
    position: absolute;
    top: 23px;
}
nav ul {
    list-style-type: none;
    height: 45px;
    
}
nav ul a {
    text-decoration: none;
    color: white;
}
nav ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.abeijing a:hover {
    background-color:rgb(33, 98, 124);
    padding: 12px 15px 14px 15px; 
}
#logo {
    margin-left: 24%;
    padding-top: 15px;
}
#fangwu {
    position: absolute;
    top: 51.99px;
    left: 24%;
}
#china {
    position: absolute;
    top: 20px;
    left: 61%;
    padding-right:45px;
    padding-bottom: 6px;
    border-right: 1px solid #454545;
    
}
#china a:link {
    color:rgb(85, 190, 218);
    text-decoration: none;
}
#china a:visited {
  color:rgb(85, 190, 218);
}
#china a:hover {
  text-decoration: underline;
  color:rgb(85, 190, 218);
}

aside {
   background-image: url(./picture/背景图片.jpg);
   width: 1920px;
   height: 660px;
}
#anjian {
  position: absolute;
  margin-left: 66.2%;
  top: 20px;
}
#sousuolan {
   position: absolute;
    background: transparent;
    border: 1px solid #454545;
    border-radius: 2px;
    -webkit-box-sizing:border-box;
    color: #fefefe;
    font-size: 14px;
    height: 24px;
    padding: 2px 5px;
    width: 150px;
    margin-left: 69%;
    top:20px;
}
#fangdajing {
    position: absolute;
    top: 23px;
    left: 75.5%;
    border-left: 1px solid #454545;
}
#chuangkou {
    position: absolute;
    width: 500px;
    height: 193px;
    background-color: rgba(0, 0, 0, 70%);
    top: 125px;
    left: 30px;    
}
#chuangkou h1 {
    font-family: Impact,sans-serif ;
    font-weight: 400;
    color: white;
    font-size: 2.8em;
    margin:10px 0px 10px 15px;
   
}
#chuangkou p {
    color: white;
    margin:15px 10px 15px 15px;
    font-size:1.15em;
    line-height: 25px;
}
#blue {
    margin-left: 100px;
    padding-top: 30px;
}
.zimo a:link {
  text-decoration: none;
}
.zimo a:visited {
  color:#0093de;
}
.zimo a:hover {
  text-decoration: underline;
  color:#0093de;
}
.zimo {
  margin-left: 10%;
  position: relative;
  left: 600px;
  display: inline;
  padding-right:10px;
  text-align: center;
  

}
#start {
  text-align: center;
}
#tupian {
  background-repeat: repeat-x;
  margin-left: 15%;
  margin-top: 70px;
}
#dis {
  text-align: center;
  margin-top: 35px;
}
#tiaki {
  position: relative;
  left: 320px;
  top: 25px;
}
#changtiao {
  background-color: rgba(0, 0, 0, 70%);
  width: 460px;
  height: 67px;
 position: absolute;
 top: 219%;
 left: 430px;
}
.o-button {
  line-height: 1;
  border: 1px solid #2db6e8;
  border-radius: 2px;
  color: #fff;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 10px 15px;
  text-align: center;
  background-color: #2db6e8;
  position: relative;
  top: -60px;
  left: 445px;
}
#fangkuai1 {
  background-color: rgba(0, 0, 0, 70%);
  width: 66px;
  height: 66px;
  position: absolute;
  top: 205%;
  left: 320px;
}
#fangkuai2 {
  background-color: rgba(0, 0, 0, 70%);
  width: 66px;
  height: 66px;
  position: absolute;
  top: 205%;
  left: 1534px;  
}

#changtiao2 {
  height: 212px;
  background-color: rgb(247, 247, 247);
}
#wake {
  padding-top: 20px;
  font-size: 210%;
  text-align: center;
}
#changtiao2 p {
  font-size: 1.1em;
  padding-left: 38%;
  width: 463px;
}

#hongse {
  position: absolute;
  top: 260%;
  left: 69%;
}
